extends layout

block scripts
  script(src="/video.bundle.js")

block content 
  video#video(width="640" height="480" controls)
    source(src="http://localhost:8080/video")
    Your browser does not support the video tag!
